.cart_modal_container{
    height: 40vh;
    width: 25vw;
    background-color: royalblue;
    border-radius: 10px;
    position: absolute;
    left: -10.7vw;
    top: 6vw;
    overflow-y: scroll;
}
.item{
    margin-top: 1rem;
    display: flex;
    padding-left: 3%;
}
.item_image{
    width: 10%;
    height: auto;
}
.remove_button{
    float: right;
}
.right_side{
    width: 80%;
    text-align: left;
}
.item_name{
    margin-left: 1rem;
}
.position_container{
    position: relative;

}

.arrow_up {
    width: 0; 
    height: 0; 
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    
    border-bottom: 40px solid black;

    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -55px;
    z-index: 1000;
    text-align: center;
}