.store_page_card_container{
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto auto;
    color: white;

    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}
.store_page_card{
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 10;
    width: 20vw;
    height: 50vh;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px 10px 0 0;
    border-color: #576CBC;
    background-color: #576CBC;
    margin: 5%;
}
.card_image{
    border-radius: 10px 10px 0 0;
    width: 100%;
}
.card_title{
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.card_price_and_review_container{
    display: flex;
    margin-top: 1%;
    padding-left: 1rem;
    padding-right: 1rem;
}
.card_rating{
    margin-left: auto;
}
.card_price{
    color: red;
}
.card_button{
    float: right;
    position: relative;
    width: 40%;

    margin-top: auto;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: 5%;

    
    z-index: 50;
    padding: .5rem;
}
.stars{
    width: 5%;
    height: auto;
}