.store_page_card_container{
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto auto;
    gap: 1%;
    
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}
.store_page_card{
    position: relative;
    z-index: 10;
    width: 20vw;
    height: 60vh;
    border-style: solid;
    border-width: 2px;
    border-color: green;
    padding: 1rem;
}
.card_image{
    border-radius: 10px 10px 0 0;
    width: 100%;
}
.card_title{
    padding-top: 1rem;
}
.card_price_and_review_container{
    display: flex;
}
.card_rating{
    margin-left: auto;
}
.card_price{
    color: red;
}
.card_button{
    position: relative;
    z-index: 50;
}